<div class="container-fluid" *ngIf="isAuthenticated">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened>
      <mat-nav-list>
        <a mat-list-item routerLink="/home" routerLinkActive="active"><i class="fas fa-home"></i>Strona Główna</a>
        <a mat-list-item routerLink="/my-photos" routerLinkActive="active"><i class="fas fa-camera"></i>Moje Zdjęcia</a>
        <a mat-list-item routerLink="/favorites-photos" routerLinkActive="active"><i class="fas fa-heart"></i>Ulubione</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="container" [style.width]="containerWidth" [style.height]="containerHeight">
        <div class="newAccountText">
          {{'changePassword.pageText' | translate}}
        </div>
        <div class="welcomeText">
          {{'changePassword.codeText' | translate}}
        </div>
        <form (ngSubmit)="onSubmitKey()" *ngIf="!isLoading" [formGroup]="activateKeyForm" class="form-horizontal">
          <div class="form-group input-group">
            <span class="input-group-addon left-icon"><i class="fas fa-key"></i></span>
            <input class="form-control" formControlName="code" id="code"
                   placeholder="{{'changePassword.activateCode' | translate}}">
          </div>

          <div class="form-group input-group">
            <button [disabled]="activateKeyForm.invalid" class="btn btn-primary" type="submit">
              {{'changePassword.Verify' | translate}}
            </button>
          </div>
        </form>
      </div>

      <div class="space"></div>

      <div class="container" [style.width]="containerWidth" [style.height]="containerHeight">
        <div class="welcomeText">
          {{'changePassword.passwordText' | translate}}
        </div>
        <form (ngSubmit)="onSubmit()" *ngIf="!isLoading" [formGroup]="changePasswordForm" class="form-horizontal">
          <div class="form-group input-group">
            <span class="input-group-addon left-icon"><i class="glyphicon glyphicon-lock"></i></span>
            <input [ngClass]="changePasswordForm.errors === null ? 'form-control': 'form-control invalid_password'"
                   [type]="hideOldPass ? 'password' : 'text'" class="form-control"
                   formControlName="oldPassword"
                   id="oldPassword" placeholder="{{'changePassword.passwordField' | translate}}"
                   type="password">
            <span (click)="hideOldPass = !hideOldPass" class="input-group-addon right-icon">
              <i [ngClass]="hideOldPass ? 'glyphicon-eye-open' : 'glyphicon-eye-close'" class="glyphicon"></i>
            </span>
          </div>

          <div class="form-group input-group">
            <span class="input-group-addon left-icon"><i class="glyphicon glyphicon-lock right-icon"></i></span>
            <input [(ngModel)]="password"
                   [ngClass]="changePasswordForm.errors === null ? 'form-control': 'form-control invalid_password'"
                   [type]="hideOldPass ? 'password' : 'text'" class="form-control"
                   formControlName="newPassword"
                   id="newPassword" placeholder="{{'changePassword.newpasswordField' | translate}}"
                   type="password">
            <span (click)="hideOldPass = !hideOldPass" class="input-group-addon right-icon">
              <i [ngClass]="hideOldPass ? 'glyphicon-eye-open' : 'glyphicon-eye-close'" class="glyphicon"></i>
            </span>
          </div>

          <div class="form-group input-group">
            <button [disabled]="changePasswordForm.invalid" class="btn btn-primary" type="submit">
              {{'changePassword.Change' | translate}}
            </button>
          </div>
        </form>
      </div>
<!--    <div class="col-xs-12 col-md-6 col-md-offset-3">-->
<!--      <div class="panel panel-info">-->
<!--        <div class="panel-heading">-->
<!--          <div class="panel-title">-->
<!--            <div>-->
<!--              {{'changePasswordPanel.changePassword' | translate}}-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="panel-body">-->

<!--          <div *ngIf="error" class="alert alert-danger">-->
<!--            <p>{{error}}</p>-->
<!--          </div>-->

<!--          <div *ngIf="info" class="alert alert-info">-->
<!--            <p>{{info}}</p>-->
<!--          </div>-->

<!--          <div *ngIf="isLoading" style="text-align: center">-->
<!--            <app-logging-panel-spinner></app-logging-panel-spinner>-->
<!--          </div>-->

<!--          <form (ngSubmit)="onSubmit()" *ngIf="!isLoading" [formGroup]="changePasswordForm" class="form-horizontal">-->

<!--            &lt;!&ndash; Email &ndash;&gt;-->
<!--            <div class="form-group input-group">-->
<!--              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>-->
<!--              <input autocomplete="new-password" class="form-control" formControlName="email" id="email"-->
<!--                     placeholder="{{'loggingPanel.email' | translate}}">-->
<!--            </div>-->
<!--            <div *ngIf="changePasswordForm.hasError('emailNotValid')" class="email-format">-->
<!--              {{'error.invalidFormat' | translate}}-->
<!--            </div>-->

<!--            &lt;!&ndash; Old password &ndash;&gt;-->
<!--            <div class="form-group input-group">-->
<!--              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>-->
<!--              <input [type]="hideOldPass ? 'password' : 'text'" autocomplete="new-password" class="form-control"-->
<!--                     formControlName="oldPassword" id="oldPassword"-->
<!--                     placeholder="{{'changePasswordPanel.oldPassword' | translate}}"-->
<!--                     type="password">-->
<!--              <span (click)="hideOldPass = !hideOldPass" class="input-group-addon">-->
<!--                <i [ngClass]="hideOldPass ? 'glyphicon-eye-open' : 'glyphicon-eye-close'" class="glyphicon"></i>-->
<!--              </span>-->
<!--            </div>-->
<!--            <div id="infoBox"></div>-->

<!--            &lt;!&ndash; New password &ndash;&gt;-->
<!--            <div class="form-group input-group">-->
<!--              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>-->
<!--              <input [(ngModel)]="password" [type]="hideNewPass ? 'password' : 'text'" autocomplete="new-password"-->
<!--                     class="form-control" formControlName="password"-->
<!--                     id="password"-->
<!--                     placeholder="{{'loggingPanel.passwordField' | translate}}"-->
<!--                     type="password">-->
<!--              <span (click)="hideNewPass = !hideNewPass" class="input-group-addon">-->
<!--                <i [ngClass]="hideNewPass ? 'glyphicon-eye-open' : 'glyphicon-eye-close'" class="glyphicon"></i>-->
<!--              </span>-->
<!--            </div>-->

<!--            <div class="form-group input-group">-->
<!--              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>-->
<!--              <input [type]="hideRepeatedPass ? 'password' : 'text'" autocomplete="new-password" class="form-control"-->
<!--                     formControlName="passwordRepeat" id="passwordRepeat"-->
<!--                     placeholder="{{'loggingPanel.passwordFieldRepeat' | translate}}"-->
<!--                     type="password">-->
<!--              <span (click)="hideRepeatedPass = !hideRepeatedPass" class="input-group-addon">-->
<!--                <i [ngClass]="hideRepeatedPass ? 'glyphicon-eye-open' : 'glyphicon-eye-close'" class="glyphicon"></i>-->
<!--              </span>-->
<!--            </div>-->
<!--            <div *ngIf="changePasswordForm.hasError('notMatched')" class="password-match-error">-->
<!--              {{'error.passwordsDoNotMatch' | translate}}-->
<!--            </div>-->
<!--            <div class="strength-meter">-->
<!--              <password-strength-meter [password]="password"></password-strength-meter>-->
<!--            </div>-->

<!--            &lt;!&ndash; Submit Button &ndash;&gt;-->
<!--            <div class="form-group input-group">-->
<!--              <div class="col-md-4 controls">-->
<!--                <button [disabled]="changePasswordForm.invalid" class="btn btn-primary"-->
<!--                        type="submit">{{'changePasswordPanel.newPassword' | translate}}</button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
