<div class="col-xs-12 col-md-6 col-md-offset-3">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title">
        <div>
          {{'changePasswordPanel.changePassword' | translate}}
        </div>
      </div>
    </div>

    <div class="panel-body">

      <div *ngIf="error" class="alert alert-danger">
        <p>{{error}}</p>
      </div>

      <div *ngIf="info" class="alert alert-info">
        <p>{{info}}</p>
      </div>

      <div *ngIf="isLoading" style="text-align: center">
        <app-logging-panel-spinner></app-logging-panel-spinner>
      </div>

      <form (ngSubmit)="onSubmit()" *ngIf="!isLoading" [formGroup]="changePasswordForm" class="form-horizontal">

        <!-- Email -->
        <div class="form-group input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
          <input autocomplete="new-password" class="form-control" formControlName="email" id="email"
                 placeholder="{{'loggingPanel.email' | translate}}">
        </div>
        <div *ngIf="changePasswordForm.hasError('emailNotValid')" class="email-format">
          {{'error.invalidFormat' | translate}}
        </div>

        <!-- Old password -->
        <div class="form-group input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input [type]="hideOldPass ? 'password' : 'text'" autocomplete="new-password" class="form-control"
                 formControlName="oldPassword" id="oldPassword"
                 placeholder="{{'changePasswordPanel.oldPassword' | translate}}"
                 type="password">
          <span (click)="hideOldPass = !hideOldPass" class="input-group-addon">
            <i [ngClass]="hideOldPass ? 'glyphicon-eye-open' : 'glyphicon-eye-close'" class="glyphicon"></i>
          </span>
        </div>
        <div id="infoBox"></div>

        <!-- New password -->
        <div class="form-group input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input [(ngModel)]="password" [type]="hideNewPass ? 'password' : 'text'" autocomplete="new-password"
                 class="form-control" formControlName="password"
                 id="password"
                 placeholder="{{'loggingPanel.passwordField' | translate}}"
                 type="password">
          <span (click)="hideNewPass = !hideNewPass" class="input-group-addon">
            <i [ngClass]="hideNewPass ? 'glyphicon-eye-open' : 'glyphicon-eye-close'" class="glyphicon"></i>
          </span>
        </div>

        <div class="form-group input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input [type]="hideRepeatedPass ? 'password' : 'text'" autocomplete="new-password" class="form-control"
                 formControlName="passwordRepeat" id="passwordRepeat"
                 placeholder="{{'loggingPanel.passwordFieldRepeat' | translate}}"
                 type="password">
          <span (click)="hideRepeatedPass = !hideRepeatedPass" class="input-group-addon">
            <i [ngClass]="hideRepeatedPass ? 'glyphicon-eye-open' : 'glyphicon-eye-close'" class="glyphicon"></i>
          </span>
        </div>
        <div *ngIf="changePasswordForm.hasError('notMatched')" class="password-match-error">
          {{'error.passwordsDoNotMatch' | translate}}
        </div>
        <div class="strength-meter">
          <password-strength-meter [password]="password"></password-strength-meter>
        </div>

        <!-- Submit Button -->
        <div class="form-group input-group">
          <div class="col-md-4 controls">
            <button [disabled]="changePasswordForm.invalid" class="btn btn-primary"
                    type="submit">{{'changePasswordPanel.newPassword' | translate}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
