<div class="container" [style.width]="containerWidth" [style.height]="containerHeight">
  <img alt="photo360 logo" src="/assets/images/logo.png" class="logo">

  <div class="logInText">
    {{'loggingPanel.logIn' | translate}}
  </div>

  <div *ngIf="error" class="alert alert-danger">
    <p>{{error}}</p>
  </div>

  <div *ngIf="info" class="alert alert-info">
    <p>{{info}}</p>
  </div>

  <div *ngIf="isLoading" style="text-align: center">
    <app-logging-panel-spinner></app-logging-panel-spinner>
  </div>

  <form (ngSubmit)="onSubmit()" *ngIf="!isLoading" [formGroup]="loginForm" class="form-horizontal">

      <!-- User name -->
    <div class="form-group input-group">
      <span class="input-group-addon left-icon"><i class="glyphicon glyphicon-user"></i></span>
      <input class="form-control" formControlName="login" id="login"
               placeholder="{{'loggingPanel.usernameField' | translate}}">
    </div>

      <!-- Password -->
    <div class="form-group input-group">
      <span class="input-group-addon left-icon"><i class="glyphicon glyphicon-lock"></i></span>
      <input [type]="hidePassword ? 'password' : 'text'" class="form-control" formControlName="password"
             id="password"
             placeholder="{{'loggingPanel.passwordField' | translate}}"
             type="password">
      <span (click)="hidePassword = !hidePassword" class="input-group-addon right-icon">
        <i [ngClass]="hidePassword ? 'glyphicon-eye-open' : 'glyphicon-eye-close'" class="glyphicon"></i>
      </span>
    </div>

    <div class="form-group row">
      <button [disabled]="loginForm.invalid" class="btn btn-primary" type="submit">
        {{'loggingPanel.logInButton' | translate}}
      </button>
    </div>
  </form>

  <!-- TODO  Do zmiany link po stworzeniu strony -->
  <a [routerLink]="['/forgot-password']" role="button" class="forgot-password-link">{{'loggingPanel.ForgotPassword' | translate}}</a>

  <p class="register-line">{{'loggingPanel.Question' | translate}}
    <button [routerLink]="['/register']" role="button" class="register-button">{{ 'loggingPanel.Register' | translate }}</button>
  </p>
</div>









