/*.panel-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}*/

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched, .invalid_password {
  border: 1px solid red;
}

.input-group {
  margin: 20px;
}

.strength-meter {
  margin-left: 20px;
  margin-top: -15px;
}

.password-match-error {
  color: red;
  font-size: 12px;
  margin-left: 22px;
  margin-top: -15px;
  margin-bottom: 15px;
}

.email-format {
  color: red;
  font-size: 12px;
  margin-left: 22px;
  margin-top: -15px;
}

.emailForget-format {
  color: red;
  font-size: 12px;
  margin-left: 22px;
  margin-top: -15px;
}

/* Switching off MS Edge show/hide button in password form */
::-ms-reveal {
  display: none;
}

.container {
  margin-top: 1%;
  display: flex;
  border-radius: 20px;
  border: 4px solid lightgrey;
  flex-direction: column;
  align-items: center;
  min-width: 650px;
  min-height: 800px;
}

.user-icon{
  margin-top: 5%;
  margin-bottom: 2%;
  width: auto;
  height: auto;
}

.newAccountText{
  font-size: 40px;
  font-weight: bold;
  color: black;
}

.welcomeText{
  font-size: 20px;
  color: black;
  white-space: pre-line;
  text-align: center;
}

.form-group {
  margin-top: 20px;
}

.form-control {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #e8e4e4;
}

.form-control::placeholder{
  color: #737373;
  font-size: 18px;
  font-weight: bold;
}

.form-control, .input-group-addon.right-icon{
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #e8e4e4;
}

.input-group-addon.left-icon {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  background-color: #e8e4e4;
}

.form-group.input-group button {
  margin-top: 20px;
  width: 400px;
  height: 50px;
  background-color: #40b4fc;
  border: #40b4fc;
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
}

.register-line{
  margin-top: 2%;
  color: black;
  font-size: 22px;
  text-decoration: none;
  align-items: center;
}

.register-button {
  margin-left: 20px;
  border-radius: 30px;
  border: 4px solid #40b4fc;
  padding: 10px 18px;
  background-color: transparent;
  color: #40b4fc;
}
