input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched, .invalid_password {
  border: 1px solid red;
}

.input-group {
  margin: 20px;
}

.strength-meter {
  margin-left: 20px;
  margin-top: -15px;
}

.panel-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.password-match-error {
  color: red;
  font-size: 12px;
  margin-left: 22px;
  margin-top: -15px;
  margin-bottom: 15px;
}

.email-format {
  color: red;
  font-size: 12px;
  margin-left: 22px;
  margin-top: -15px;
}

/* Switching off MS Edge show/hide button in password form */
::-ms-reveal {
  display: none;
}
