.centered-text {
  text-align: center;
  padding: 0 20px;
  margin: 15px 40px;
  background-color: #ffffff;
}

.sidenav-container {
  height: 91.5vh;
}

mat-sidenav {
  width: 250px; /* Set the width of the sidebar as needed */
  background-color: white;
}

mat-nav-list a.mat-list-item {
  height: 60px;
}

.mat-list-item{
  font-size: 16px;
  font-weight: bold;
  border-top: 2px solid #e8e4e4;
}

.mat-list-item:last-child {
  border-bottom: 2px solid #e8e4e4;
}

mat-nav-list a.mat-list-item i {
  margin-right: 15px;
}

.active {
  background: linear-gradient(to right, #87CEFA, #ffffff);
}

mat-sidenav-content {
  margin-left: 250px;
  height: 100vh;
  background-color: white;
  padding-bottom: 150px;
}

/**/

.header-text {
  text-align: center;
  padding: 10px;
}

.header-text h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 8px;
}

.header-text p {
  font-size: 16px;
  font-weight: bold;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px; /* Odstęp między obrazami */
  justify-content: center;
}

.image-frame {
  flex: 0 1 calc(30% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 3px #e8e4e4;
  height: 400px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.image-frame img {
  width: 85%;
  height: 85%;
  object-fit: scale-down;
}

.image-details {
  width: 100%;
  height: 60px;
  padding: 5px;
  border-top: 2px solid #e8e4e4;
  background-color: #e8e4e4;
  font-family: Arial, serif;
}

.title {
  font-size: 21px;
  font-weight: bold;
  margin-left: 10px;
  text-align: left;
}

.author {
  font-size: 14px;
  color: #676661;
  margin-left: 20px;
  text-align: left;
}





