<div class="container" [style.width]="containerWidth" [style.height]="containerHeight">
  <img src="/assets/images/padlock.png" alt="Padlock icon" class="padlock-icon">

  <div class="newAccountText">
    {{'forgotPasswordPanel.question' | translate}}
  </div>

  <div class="welcomeText">
    {{'forgotPasswordPanel.welcomeText' | translate}}
  </div>

    <div *ngIf="error" class="alert alert-danger">
      <p>{{error}}</p>
    </div>

    <div *ngIf="info" class="alert alert-info">
      <p>{{info}}</p>
    </div>

  <div *ngIf="isLoading" style="text-align: center">
    <app-logging-panel-spinner></app-logging-panel-spinner>
  </div>

  <form (ngSubmit)="onSubmit()" *ngIf="!isLoading && !forgetFormTurn" [formGroup]="registrationForm" class="form-horizontal">

    <div class="form-group input-group">
      <span class="input-group-addon left-icon"><i class="glyphicon glyphicon-envelope"></i></span>
      <input class="form-control" formControlName="email" id="email"
             placeholder="{{'loggingPanel.emailField' | translate}}"
             type="email">
    </div>
    <div *ngIf="registrationForm.hasError('emailNotValid')" class="email-format">
      {{'error.invalidFormat' | translate}}
    </div>

    <div class="form-group input-group">
      <button [disabled]="registrationForm.invalid" class="btn btn-primary" type="submit">
        {{'forgotPasswordPanel.giveLink' | translate}}
      </button>
    </div>
  </form>

  <form (ngSubmit)="onSubmitForgetForm()" *ngIf="!isLoading && forgetFormTurn" [formGroup]="forgetPasswordForm" class="form-horizontal">

    <div class="form-group input-group">
      <span class="input-group-addon left-icon"><i class="glyphicon glyphicon-envelope"></i></span>
      <input class="form-control" formControlName="forgetEmail" id="forgetEmail"
             placeholder="{{'loggingPanel.emailField' | translate}}"
             type="email">
    </div>
    <div *ngIf="forgetPasswordForm.hasError('emailNotValid')" class="email-format">
      {{'error.invalidFormat' | translate}}
    </div>

    <div class="form-group input-group">
      <span class="input-group-addon left-icon"><i class="glyphicon glyphicon-lock"></i></span>
      <input [(ngModel)]="password"
             [ngClass]="forgetPasswordForm.errors === null ? 'form-control': 'form-control invalid_password'"
             [type]="hidePassword ? 'password' : 'text'" class="form-control"
             formControlName="password"
             id="password" placeholder="{{'loggingPanel.passwordField' | translate}}"
             type="password">
      <span (click)="hidePassword = !hidePassword" class="input-group-addon right-icon">
        <i [ngClass]="hidePassword ? 'glyphicon-eye-open' : 'glyphicon-eye-close'" class="glyphicon"></i>
      </span>
    </div>

    <div class="form-group input-group">
      <span class="input-group-addon left-icon"><i class="fas fa-key"></i></span>
      <input class="form-control" formControlName="code" id="code"
             placeholder="{{'forgotPasswordPanel.codeField' | translate}}">
    </div>

    <div class="form-group input-group">
      <button [disabled]="forgetPasswordForm.invalid" class="btn btn-primary" type="submit">
        {{'forgotPasswordPanel.changePassword' | translate}}
      </button>
    </div>
  </form>

  <button [routerLink]="['/auth']" role="button" class="return-login-button">{{ 'forgotPasswordPanel.returnLogin' | translate }}</button>
</div>
