<div class="container-fluid">
  <nav class="navbar navbar-default">
    <div class="container">
      <a class="navbar-brand" href="#"><p>{{'header.photo360' | translate}}</p></a>
      <a class="navbar-right small noaction">
        <div id="infoBox">
          <div *ngIf="isAuthenticated" class="align-items-right"
               id="loggedAsLabel">{{'header.loggedAs' | translate}}{{currentlyLoggedUser.email}}</div>
          <div *ngIf="isAuthenticated && currentlyLoggedUser.lastLoggedDatetime != 0"
               class="align-items-right">{{'header.lastLoggedLabel' | translate}}
            : {{currentlyLoggedUser.lastLoggedDatetime | date: 'yyyy-MM-dd HH:mm:ss'}}</div>
        </div>
      </a>
    </div>
    <div class="glyphicon-collapse-down navbar-collapse">

      <div class="nav nav-tabs">
        <li [routerLinkActiveOptions]="{exact: true}" role="presentation" routerLinkActive="active"><a
          [routerLink]="['/home']">{{'header.mainPage' | translate}}</a></li>

        <li *ngIf="isAuthenticated">
          <a (click)="openSavePortfolioDialog()"
             role="button">{{'header.uploadPhotos' | translate}}</a>
        </li>

        <div class="nav nav-tabs navbar-right">

          <li *ngIf="isAuthenticated" [routerLinkActiveOptions]="{exact: true}"
              role="presentation"
              routerLinkActive="active"><a
            [routerLink]="['/change-password']">{{'header.changePassword' | translate}}</a></li>

          <li><a (click)="logout()" *ngIf="isAuthenticated" role="button">{{'header.logOut' | translate}}</a>
          </li>

          <li *ngIf="!isAuthenticated" [routerLinkActiveOptions]="{exact: true}" role="presentation"
              routerLinkActive="active"><a [routerLink]="['/auth']">{{'header.logIn' | translate}}</a></li>

          <li appDropdown class="dropdown">

            <a class="dropdown-toggle" role="button">{{'header.languagePicker' | translate}}
              <span class="caret"></span><span class="{{'general.language.flag' | translate}}"></span>
            </a>

            <ul class="dropdown-menu">
              <li (click)="changeLanguage(lang)" *ngFor="let lang of translateService.getLangs()">
                <a role="button">{{lang}}<span [ngClass]="getFlagClass(lang)"></span></a>
              </li>
            </ul>
          </li>

        </div>
      </div>
    </div>
  </nav>
</div>
