<div class="container-fluid centered-text">
  <h2>
    <img alt="photo360 logo" src="favicon.ico" width="38px">
    <b>{{'general.photo360' | translate}}</b>
  </h2>

  <h4>
    {{'general.main-text' | translate}}
  </h4>

  <select (ngModelChange)="handleSelectionChange()" [(ngModel)]="pickedGif">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="public">public</option>
    <option value="private">private</option>
  </select>


  <img *ngFor="let gif of gifs" [src]="gif" alt="GIF" width="300px">


  <!--    TODO: maybe later? -->
  <!--    <h5 id="documentation-label-div">-->
  <!--      <a (click)="downloadDocumentation()" *ngIf="isAuthenticated">-->
  <!--        {{'header.documentation' | translate}}-->
  <!--      </a>-->
  <!--    </h5>-->
</div>
