<div class="container-fluid" *ngIf="isAuthenticated">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened>
      <mat-nav-list>
        <a mat-list-item routerLink="/home" routerLinkActive="active"><i class="fas fa-home"></i>Strona Główna</a>
        <a mat-list-item routerLink="/my-photos" routerLinkActive="active"><i class="fas fa-camera"></i>Moje Zdjęcia</a>
        <a mat-list-item routerLink="/favorites-photos" routerLinkActive="active"><i class="fas fa-heart"></i>Ulubione</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="header-text">
        <h1>{{'my-photos.pageTitle' | translate}}</h1>
        <p>{{'my-photos.pageDesc' | translate}}</p>
      </div>
      <div class="image-container">
        <div *ngFor="let gif of gifs; let i = index" class="image-frame" [routerLink]="['/single-gif', gif.gifId]">
          <img [src]="'data:image/png;base64,' + gif.headPhoto" alt="GIF" width="100%" height="auto">
<!--          <img [src]="gif.imageUrl" alt="GIF" width="100%" height="auto">-->
          <div class="image-details">
            <div class="title"><strong>{{ gif.title }}</strong></div>
            <div class="author">{{ gif.userLogin }}</div>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
